.app > * {
  font-family: 'Roboto Mono', monospace;
}

.app-genderselect {
  -webkit-appearance: none;
  background: #fff;
  padding: 1em;
  outline: none;
  font-size: 1em;
  margin: 2em 0 2em 2em;
  cursor: pointer;
}
